@model FeedForwardBusinessEntities.EntityModels.ForgotpwdViewModel
@{
    Layout = null;
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
   
</head>
<body>
    <div>
        @using(Html.BeginForm())
        {

        <p>UserID</p>
        @Html.TextBoxFor(x=>Model.UserID)
         <input type="submit" name="btn" id="btn1" value="Next" />
         <p>Refer your registered mail ID and type your OTP Below:</p>
         @Html.TextBoxFor(x=>Model.OTP)
         <input type="submit" name="btn" id="btn2" value="Submit" />
        <p>New Password</p>
        @Html.TextBoxFor(x=>Model.NewPassword)
        <p>Confirm New Password</p>
        @Html.TextBoxFor(x=>Model.ConfirmNewPassword)
        <input type="submit" name="btn" id="btn3" value="Reset Password" />
        <br/>
            @Html.Partial("_MyPartialView")

        }
    </div>
</body>
</html>
