@model FeedForwardBusinessEntities.EntityModels.ChangePasswordViewModel
@{
    Layout = null;
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PasswordChangePage</title>
    

</head>
<body>
    @using(Html.BeginForm())
    {
        <p>UserID</p>
        <h2>@ViewBag.CurrentUserID</h2>
        <input type="hidden" id="UsrID" name="UsrID" value=@ViewBag.CurrentUserID>
        <br />
        <p>Old Password</p>
        @Html.TextBoxFor(x=>x.OldPassword)
        <p>New Password</p>
        @Html.TextBoxFor(x=>Model.NewPassword)
        <p>Confirm New Password</p>
        @Html.TextBoxFor(x=>x.ConfirmNewPassword)
        <br />
        <input type="Submit" name="btnsubmit" id="btnsubmit" value="Submit">
        <h2>@ViewBag.msg</h2>
        <br/>
        @Html.Partial("_MyPartialView")
    }
</body>
</html>
