@model FeedForwardBusinessEntities.EntityModels.UserDetailViewModel
@{
    Layout = null;
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegistrationPage</title>
    
   
</head>
<body>
    @using(Html.BeginForm())
    {
        <div>
        <p>UserID</p>
        @Html.TextBoxFor(m=>Model.UserID)
        
        <span asp-validation-for="UserID" class="text-danger"></span>
        </div>
        <p>Name</p>
        @Html.TextBoxFor(m=>Model.Name)
        <p>Email</p>
        @Html.TextBoxFor(m=>Model.Email)
         <p>Mobile</p>
        @Html.TextBoxFor(m=>Model.Mobile)
        <p>EmpID</p>
        @Html.TextBoxFor(m=>Model.EmpID)
        <br />
        <br/>
        <div>
            <label asp-for="RoleID" class="control-label"></label>
            <select asp-for="RoleID" asp-items="@(new SelectList(Model.RoleList,"RoleID","RoleDescription"))"></select>
        </div>
        <br /><br/>
             <div>
            <label asp-for="DesignationID" class="control-label"></label>
            <select asp-for="DesignationID" asp-items="@(new SelectList(Model.DesignationList,"LevelID","Designation"))"></select>
            </div>
         <br />
         <br />
        <input type="submit" id="sub1" Name="btn" value="Submit">
        <br/>
       
        <br/>
        <input type="submit" id="sub2" name="btn" value="Submit through API">
        <br/>
        <br/>
         @ViewBag.Info
         <br/>
         <br/>
        @Html.Partial("_MyPartialView")
    }
</body>
</html>
